@import url("https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, auto);
  margin-left: 5%;
  /* padding-top: 3em;
  width: 68%;
  margin: auto; */
}

.article-card {
  margin-left: 60px;
  margin-bottom: 20px;
}

.centered {
  max-width: 60%;
  margin: auto;
}


#good,
#morning,
#News {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #e6ecff;
  font-family: "Exo", sans-serif;
}
#good {
  background-color: #00134d;
}
#morning {
  background-color: #001a66;
}
#News {
  background-color: #002080;
}
#main-grid {
  background-color: #002699;
  height: 5em;
}
#slogan {
  margin-top: 1em;
  color: #e6ecff;
  font-family: "Marcellus SC", serif;
}
#menu {
  background-color: #b30000;
}
#sports,
#news,
#business,
#entertainment,
#weather {
  background-color: white;
}

